<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Comic <%= num %></title>
  </head>
  <body>
    <div class="comic-container">
      <h1><a href="/">Web Comics</a></h1>
      <div class="buttons">
        <div class="btn">
          <a class="button" href="/comic/1">|❮</a>
          <a class="button" href="/comic/<%= num-1 %>">❮ Previous</a>
          <a
            class="button"
            href="/comic/<%= Math.floor(Math.random() * Math.floor(2272)) %>"
            >Random</a
          >
          <a class="button" href="/comic/<%= num+1 %>">Next ❯</a>
          <a class="button" href="/">❯|</a>
        </div>
      </div>
      <div class="container">
        <div class="flex-items">
          <div><b>Title:</b> <%= title %></div>
          <div><b>Visit Counter:</b> <%= pageVisitCount %></div>
          <div><b>Date Posted:</b> <%= year %>/<%= month %>/<%= day %></div>
          <div class="image-container">
            <img src="<%= img %>" alt="<%= alt %>" />
          </div>
        </div>
        <div class="flex-items transcript">
          <div>
            <p>
              <%- (transcript) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
